*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}
h1{
    font-size: 60px;
    color: #696969;
}
h2{
    font-weight: 100;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

p{
    font-size: 23px;
    border: 3px solid lightgray;
    margin-bottom: 10px;
    padding: 7px;
    width: 60%;
}
.button1{
    background-color: rgb(69, 179, 142);
    padding: 6px;
    border-radius: 0.5rem;
    border: rgb(9, 179, 179);
    color: white;
    font-weight: 700;
    width: 60px;
}
.button2{
    background-color: pink;
    padding: 10px;
    border-radius: 0.5rem;
    border: rgb(255, 79, 187);
    color: white;
    font-weight: 700;
    width: 100px;
}
#number{
    padding: 10px;
    width: 300px;
    background-color: lightgray;
    border: lightgray;
    border-radius: 0.5rem;
}